.App {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  /* background-color: #0e112488; */
  font-family: "Raleway", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
#root {
  scroll-behavior: smooth;
  --main-bg-color: #3b4252;
  /* --main-bg-color: #20242e; */
  --secondary-bg-color: #2e3440;
  /* --secondary-bg-color: #363d4d; */
  --main-color: #eceff4;
  --secondary-color: #d8dee9;
  --accent-color: #5e81ac;
  scroll-snap-align: top;
}
.btn {
  font: inherit;
  color: inherit;
  background: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
  margin-right: 1rem;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background: var(--secondary-color);
  color: #1e244d;
  transform: translate(0, -2px);
}
.btn--primary:hover {
  color: inherit;
  background: none;
}
.btn--primary {
  background: var(--secondary-color);

  color: #1e244d;
}
.btn img {
  height: 24px;
  padding-right: 5px;
}
.btn span {
  padding-right: 5px;
}
.btn--top {
  margin-top: 2rem;
}
button > img,
button > span {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Mukta", sans-serif;
  margin: 0;
  color: var(--secondary-color);
}
h1 {
  font-size: 3rem;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}
.header__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0rem;
}
.header__links li {
  padding: 1rem 1rem;
  cursor: pointer;
}
.header__links li:hover {
  background-color: var(--main-bg-color);
}
.header__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header {
  background-color: var(--secondary-bg-color);
  position: fixed;
  width: 100%;
}
.landing__container {
  background-image: url("./images/geometric.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.landing__content {
  margin: 2rem;
}
.landing__content-heading {
  font-size: 5rem;
  margin: 1rem 0rem;
  line-height: 0.8;
}

.landing__content p {
  margin: 1rem 0.3rem;
  font-size: 1.3rem;
  max-width: 800px;
  color: var(--main-color);
}
.landing__content-heading--secondary {
  color: var(--accent-color);
}
.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about__info {
  max-width: 800px;
}
.about__img img {
  max-width: 300px;
  border-radius: 50%;
  margin-left: 5rem;
}
.about__stack-heading {
  margin-bottom: 1.5rem;
}
.about__stack-item img {
  width: 45px;
  padding-right: 1rem;
}
.projects {
  padding-top: 8rem;
}
.project__project {
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 4rem;
  border-bottom: solid 1px #c3bfce7c;
  gap: 2rem;
}
.project__heading {
  color: var(--accent-color);
}
projects__wrapper {
  padding-top: 8rem;
}
.project__project:nth-of-type(odd) .project__project-img {
  grid-column: 1;
  grid-row: 1;
}
.project__project:nth-of-type(odd) .project__project-info {
  grid-column: 2;
}
.project__project-img {
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
}
.project__project-info {
  margin-top: auto;
  margin-bottom: auto;
}

.project__project-img img {
  width: 100%;
  border-radius: 10px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0rem;
}
.contact__form {
  max-width: 600px;
}
.contact__form-input {
  width: 100%;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
  color: inherit;
  font-size: 14px;
}
.contact__form-input:focus {
  outline: solid 1px #d9cff1;
}
.contact__form-input::placeholder {
  font: inherit;
  color: var(--main-color);
  font-size: 14px;
}
.contact__form-input--message::placeholder {
  color: var(--main-color);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.contact__form-input--message {
  resize: none;
  height: 10rem;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 900px) {
  .project__project {
    grid-template-columns: repeat(1, 1fr);
  }
}
